[Desktop Entry]
Name=M64Py
Exec=m64py %f
Terminal=false
Type=Application
Icon=net.sourceforge.m64py.M64Py
Comment=A frontend for Mupen64Plus
Categories=Game;Emulator;
MimeType=application/x-n64-rom;
Keywords=Emulator;Nintendo64;Mupen64plus;
