# Directories
build/
src/m64py.egg-info/

# Files
dist/*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Resources
*_ui.py
*_rc.py

# Generated
src/m64py/ui/i18n/m64py_en.qm
src/m64py/ui/i18n/m64py_de_DE.qm

# Editor files
.vscode
